body {
  box-sizing: border-box;
}
.App {
  background-color: #fafcfd;
  min-height: 100vh;
  display: flex;
  padding: 45px;
  justify-content: center;
  color: rgb(5, 4, 4);
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
input {
  width: 100%;
  margin: 5px 0px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.formDiv {
  padding: 10px;
  margin: 10px;
  width: 20%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(180, 179, 155);
}
button {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
button:hover {
  background-color: rgb(115, 121, 92);
  opacity: 0.9;
}
progress {
  width: 100%;
  padding: 20px;
}
.deleteButton {
  width: 20px;
  color: red;
  font-weight: bolder;
  font-size: 20px;
  background-color: transparent;
}
li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
ul {
  padding: 0px;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
}
a:-webkit-any-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(180, 179, 155);
  padding: 10px;
  color: black;
  font-size: 15px;
}